*,
*::before,
*::after {
  margin: 0;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 200px;

  display: grid;
  gap: 17px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.news {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 2;
  font-size: 14px;
  font-weight: 700;
  color: #ed552f;
  width: 37px;
}

.more {
  grid-area: 1 / 6 / 1 / 6;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  width: 37px;
}

.divider {
  width: 266px;
  height: 1px;
  background: linear-gradient(90deg, #a9a9a9 -1.32%, #ffffff 100%);

  grid-area: 2 /1 / 2 / 9;
}

.img-wrapper {
  grid-area: 3 /1 /4/ 2;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: flex-start;
  width: 100px;
}

.img {
  width: 112px;
  height: 66px;
}

.img-title {
  width: 80px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
}

.content {
  grid-area: 3 /2 /4 / 8;
  font-weight: 400;
  font-size: 14px;

  width: 251px;
  height: 84px;
}

.title {
  font-weight: 700;
  font-size: 14px;

  width: 192px;
  height: 21px;
}

.date {
  font-weight: 400;
  font-size: 14px;
}
