/* 숨김 콘텐츠 */
.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

/* 기본 글자크기 설정 */
html {
  font-size: 10px;
}

/* 공통 사항 */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 12px;

  width: 244px;
  height: 161px;

  background: linear-gradient(90deg, #ed552f 0%, #e8852e 100%);
  box-shadow: 5px 5px 0px #aaaaaa;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 타이틀 */
.title {
  font-weight: 700;
  font-size: 15px;
  color: #ffff00;
  margin: 0 0 12px 0;
}

/* 로그인 폼 */
.loginWrapper {
  padding: 8px;

  width: 220px;
  height: 106px;
  background: #ffffff;
  border-radius: 5px;
  margin: 0;

  position: relative;

  box-sizing: border-box;
}

.loginFieldset {
  border: none;
  padding: 0;
}

.id {
  margin-bottom: 4px;
}

label {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

input {
  padding-left: 8px;

  width: 80px;
  height: 20px;

  border: 1px solid #cccccc;
  border-radius: 5px;
}

.id label {
  position: absolute;

  top: 17px;
}

.password label {
  position: absolute;

  top: 43px;
}

.id input {
  position: absolute;
  top: 9px;
  right: 66px;
}

.password input {
  position: absolute;
  top: 37.5px;
  right: 66px;
}

/* 버튼 */

button {
  border: none;
  width: 50px;
  height: 53px;
  font-weight: 400;
  font-size: 13px;
  color: #fff;
  background: #ed552f;
  border-radius: 5px;

  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
}

/* 회원가입 / 아이디 비밀번호 찾기 */

.loginBottom {
  border-top: 1px solid #ccc;
  padding: 9px 8px;

  position: absolute;
  top: 72px;
  left: 6px;
}

a {
  text-decoration: none;
}

.loginBottomLeft {
  float: left;
}

.loginBottomRight {
  float: right;
  margin-left: 20px;
}

.loginBottomLeft,
.loginBottomRight {
  font-weight: 400;
  font-size: 13px;
  color: #181818;
}

.loginBottomLeft span,
.loginBottomRight span {
  font-size: 14px;
  font-weight: 900;
  color: #ed552f;
  margin-right: 1px;
}
